.add-exercise {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.add-exercise-dropdown {
  flex: 1 1 auto;
  min-width: 60px;
}
.add-exercise-button {
  flex: 0 1 auto;
  min-width: 60px;
}

.entry_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.entry_exerciseName {
  flex: 1 0 auto;
  min-width: 45px;
}

.entry_weight, .entry_reps, .entry_sets, .entry_distance, .entry_time {
  flex: 0 1 auto;
  min-width: 15px;
}

.workout-form-exercise {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.workout-form-exercise-entry {
  flex: 1 1 auto;
  min-width: 80px;
}

.workout-form-exercise-remove {
  flex: 1 1 auto;
  min-width: 15px;
}

hr {
  color: #cccccc;
}