@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
<div id="react-app" asp-prerender-module="WorkoutWitness_UI/dist/main-server">Loading...</div>

@section scripts {
    <environment names="Development">
        <script src="~/dist/main-client.js" asp-append-version="true"></script>
    </environment>
    <environment names="Production">
        <script src="https://s3-us-west-2.amazonaws.com/workout-witness/latest.zip"></script>
    </environment>
}
